body {
    margin: 20px;
    font-style: italic;
    font-family: verdana;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    border-bottom: violet;
    background: 6px solid skyblue;
    color: black;


}

.border-blue {
    border: 1px dotted blue;
}